<div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="userForm">
        <div class="form-group">
            <label for="username">Username:</label>
            <ng-container *ngIf="values.id; else adduser">
                <input type="text" class="form-control" id="username" readonly [value]="this.values.username">
            </ng-container>
            <ng-template #adduser>
                <input type="text" class="form-control" id="username-add" formControlName="username"
                    placeholder="Single word; no spaces">
            </ng-template>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="text" class="form-control" id="password" formControlName="password"
                placeholder="Leave blank if you do not wish to change password">
        </div>
        <div class="form-group">
            <label for="name">Full Name:</label>
            <input type="text" class="form-control" id="name" placeholder="John Tan" formControlName="name">
        </div>
        <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="text" class="form-control" id="phone" placeholder="97269293" formControlName="phone">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" placeholder="johntan@gmail.com" formControlName="email">
        </div>
        <div class="form-group">
            <label>Street address</label>
            <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
                [value]="this.values.address" placeholder="5 Sentosa Cove" autocorrect="off" autocapitalize="off"
                spellcheck="off" #search>
        </div>
        <div class="form-group">
            <label>Unit Number</label>
            <input type="text" class="form-control" placeholder="#05-05" formControlName="unit">
        </div>
    </form>


    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="15">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(this.userForm.value)"
        [disabled]="this.userForm.invalid">
        <ng-container *ngIf="values.id; else add">Update</ng-container>
        <ng-template #add>Add</ng-template>
    </button>
</div>