<h2>Hello {{user.name}}</h2>
<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
        <div class="card h-100">
            <img src="https://via.placeholder.com/200" class="card-img-top" alt="https://via.placeholder.com/200">
            <div class="card-body">
                <h5 class="card-title">My Profile</h5>
                <p class="card-text">Update personal details</p>
                <a href="#" class="btn btn-primary" (click)="updateProfile()">Enter</a>
            </div>
        </div>
    </div>

    <div class="col mb-4" *ngIf="!admin">
        <div class="card h-100">
            <img src="https://via.placeholder.com/200" class="card-img-top" alt="https://via.placeholder.com/200">
            <div class="card-body">
                <h5 class="card-title">Lessons</h5>
                <p class="card-text">View your past and upcoming lessons</p>
                <a href="#" class="btn btn-primary">Enter</a>
            </div>
        </div>
    </div>

    <div class="col mb-4" *ngIf="!admin">
        <div class="card h-100">
            <img src="https://via.placeholder.com/200" class="card-img-top" alt="https://via.placeholder.com/200">
            <div class="card-body">
                <h5 class="card-title">Billing</h5>
                <p class="card-text">Check your billing history here!</p>
                <a href="#" class="btn btn-primary">Enter</a>
            </div>
        </div>
    </div>

    <div class="col mb-4" *ngIf="admin">
        <div class="card h-100">
            <img src="https://via.placeholder.com/200" class="card-img-top" alt="https://via.placeholder.com/200">
            <div class="card-body">
                <h5 class="card-title">Subjects</h5>
                <p class="card-text">Add subjects</p>
                <a href="#" class="btn btn-primary" [routerLink]="['/subjects']">Enter</a>
            </div>
        </div>
    </div>

    <div class="col mb-4" *ngIf="admin">
        <div class="card h-100">
            <img src="https://via.placeholder.com/200" class="card-img-top" alt="https://via.placeholder.com/200">
            <div class="card-body">
                <h5 class="card-title">Lessons</h5>
                <p class="card-text">Manage lessons for your students</p>
                <a href="#" class="btn btn-primary" [routerLink]="['/lessons']">Enter</a>
            </div>
        </div>
    </div>

    <div class="col mb-4" *ngIf="admin">
        <div class="card h-100">
            <img src="https://via.placeholder.com/200" class="card-img-top" alt="https://via.placeholder.com/200">
            <div class="card-body">
                <h5 class="card-title">Students</h5>
                <p class="card-text">Manage your students</p>
                <a href="#" class="btn btn-primary" [routerLink]="['/students']">Enter</a>
            </div>
        </div>
    </div>

</div>