<div class="row">
    <div class="col-2">
        <h2>Subjects</h2>
    </div>
    <div class="col">
        <button (click)="open()" type="button" class="btn btn-primary">Add</button>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Level</th>
            <th scope="col">Hourly Fees</th>
            <th scope="col">
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let subject of subjects; index as i">
            <td>
                {{ subject.name }}
            </td>
            <td>
                {{subject.level}}
            </td>
            <td>
                {{ subject.fees | number }}
            </td>
            <td>
                <button class="btn btn-primary btn-success">
                    <i-bs name=" pencil-square" (click)="open(i)"></i-bs>
                </button>&nbsp;
                <button class="btn btn-warning">
                    <i-bs name="trash2" (click)="delete(subject.id)"></i-bs>
                </button>

            </td>
        </tr>
    </tbody>
</table>